<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">
    <div class="navigation horizontal districts-nav">
      <ul>
        {{#districts:di}}
          <li><a href="#"
            style="background-color: {{ pviColor.hex() }};"
            data-spy-on="district-{{ district }}"
            on-tap="selectDistrict:{{ district }}">
            {{ district }}
          </a></li>
        {{/districts}}
      </ul>
    </div>

    <div class="districts">
      {{#districts:di}}
        <div class="district" data-spy-me="district-{{ district }}">
          <h3>District {{ district }}</h3>
        </div>
      {{/districts}}
    </div>
  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-hot-house-districts-2014" target="_blank">Github</a>.</p>

      <p>Some map data © OpenStreetMap contributors; licensed under the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License</a>.  Some map design © MapBox; licensed according to the <a href="http://mapbox.com/tos/" target="_blank">MapBox Terms of Service</a>.</p>

    </div>
  </div>
</div>
