<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">
    <div class="districts-nav cf">
      <ul class="cf">
        {{#districts:gi}}
          <li class="nav-group-label group-{{ gi }}">
            {{ typeNames[gi] }}
          </li>

          {{#this:di}}
            <li class="nav-item"><a href="#"
              style=""
              data-spy-on="district-{{ district }}"
              on-tap="selectDistrict:{{ district }}">
              {{ district }}
            </a></li>
          {{/this}}
        {{/districts}}
      </ul>
    </div>

    <div class="districts">
      {{#districts:gi}}
        <h2>{{ typeNames[gi] }}</h2>

        {{#this:di}}
          <div class="district" data-spy-me="district-{{ district }}">
            <h3>
              District {{ district }}
            </h3>

            <div class="candidates">
              <span class="{{#incumbentparty}}incumbent-candidate{{/incumbentparty}}">
                {{ (incumbentparty === 'R') ? candidater : candidated }}
              </span>
              <span class="label bg-color-political-{{ (incumbentparty === 'R') ? 'r' : 'dfl' }}">{{ (incumbentparty === 'R') ? 'R' : 'DFL' }}</span>
              <span class="vs">vs.</span>
              {{ (incumbentparty === 'R') ? candidated : candidater }}
              <span class="label bg-color-political-{{ (incumbentparty === 'R') ? 'dfl' : 'r' }}">{{ (incumbentparty === 'R') ? 'DFL' : 'R' }}</span>
            </div>

            <div class="row">
              <div class="column-medium-50">
                <div class="description-container">
                  {{{ description }}}
                </div>
              </div>

              <div class="column-medium-25 details">
                <div class="details-container">

                  <div class="chart-container">
                    <div class="component-label">Average lean</div>
                    <div class="chart-canvas">
                      <div class="label-d">D</div>
                      <div class="chart"
                        title="PVI Lean: {{ pvi < 0 ? 'DFL' : 'R' }} {{ f.number(Math.abs(pvi), 2) }}">
                        <div class="mid-tick"></div>
                        <div class="tick"
                          style="background-color: {{ pviColor.hex() }}; left: {{ pT(pvi, -10, 10) }}%;">
                        </div>
                      </div>
                      <div class="label-r">R</div>
                    </div>
                  </div>

                  <div class="chart-container">
                    <div class="component-label">2012 House margin</div>
                    <div class="chart-canvas">
                      <div class="label-d">D</div>
                      <div class="chart"
                        title="2012 margin: {{ lean2012 < 0 ? 'DFL' : 'R' }} {{ f.number(Math.abs(lean2012), 2) }}">
                        <div class="mid-tick"></div>
                        <div class="tick"
                          style="background-color: {{ cR(lean2012).hex() }}; left: {{ pT(lean2012, -10, 10) }}%;">
                        </div>
                      </div>
                      <div class="label-r">R</div>
                    </div>
                  </div>

                  <div class="chart-container">
                    <div class="component-label">Presidential margin</div>
                    <div class="chart-canvas">
                      <div class="label-d">D</div>
                      <div class="chart"
                        title="2012 Presidential lean: {{ leanpres < 0 ? 'DFL' : 'R' }} {{ f.number(Math.abs(leanpres), 2) }}">
                        <div class="mid-tick"></div>
                        <div class="tick"
                          style="background-color: {{ cR(leanpres).hex() }}; left: {{ pT(leanpres, -10, 10) }}%;">
                        </div>
                      </div>
                      <div class="label-r">R</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="column-medium-25">
                <div class="map-container">
                  {{^boundary.simple_shape}}
                    <div class="district-map">
                      <div class="loading-block"></div>
                    </div>
                  {{/boundary.simple_shape}}
                  {{#boundary.simple_shape}}
                    <div class="district-map"
                      id="district-map-{{ district }}"
                      decorator="map:{{ this }}">
                    </div>
                  {{/boundary.simple_shape}}
                </div>
              </div>
          </div>
        {{/this}}
      {{/districts}}
    </div>
  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>
        Some icons from the Noun Project
        including <a target="_blank" href="http://thenounproject.com/term/radar/793/">radar</a> by Paul te Kortschot,
        <a target="_blank" href="http://thenounproject.com/term/eye/19791/">eye</a>
        and <a target="_blank" href="http://thenounproject.com/term/blind/19790/">blind</a> by Michael Rowe.
        Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-hot-house-districts-2014" target="_blank">Github</a>.
      </p>

      <p>Some map data © OpenStreetMap contributors; licensed under the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License</a>.  Some map design © MapBox; licensed according to the <a href="http://mapbox.com/tos/" target="_blank">MapBox Terms of Service</a>.</p>
    </div>
  </div>
</div>
