/**
 * Main styles for: minnpost-hot-house-districts-2014
 */

$chart-height: 1.25em;


// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Wrap everything for specificity
.mp .minnpost-hot-house-districts-2014-container {

  .application-container {
    padding-top: 1em;
  }

  img.custom-icon {
    width: 0.85em;
    display: inline;
  }

  .districts-nav {
    z-index: 10000;
    margin-bottom: 3em;

    .type-group {
      float: left;
      margin: 0.25em 1em 0.5em 0;

      img.custom-icon {
        width: 1.75em;
        vertical-align: bottom;
        padding-right: 0.25em;
      }

      ul {
        @include inline-block();
        margin: 0;
        padding: 0;

        li {
          @include inline-block();
          padding: 0;
          margin: 0 3px 3px 0;
          float: none;
          vertical-align: middle;

          a {
            color: #282828;
            padding: 0.25em 0.5em;

            &.active {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .districts {
    z-index: 0;

    .district {
      margin-bottom: 2em;

      .pvi-block {
        color: #282828;
      }

      .district-map {
        min-height: 25em;
      }

      .details {
        text-align: center;

        .label {
          border-radius: 2px;

          &.bg-color-political-dfl,
          &.bg-color-political-d {
            background-color: nth(nth($colors-political, 1), 2);
          }
          &.bg-color-political-r {
            background-color: nth(nth($colors-political, 3), 2);
          }
        }

        .candidates {
          margin-bottom: 2em;

          .candidate-name {
            margin-bottom: .25em;
          }

          .vs {
            color: $color-gray;
            margin-bottom: .25em;
          }
        }

        .chart-container {
          margin-bottom: 1em;

          .chart {
            position: relative;
            width: 100%;
            height: $chart-height;
            background-color: $color-lighter-gray;

            .mid-tick {
              position: absolute;
              top: 0;
              left: 50%;
              height: $chart-height;
              width: 2px;
              background-color: $color-dark-gray;
            }

            .tick {
              position: absolute;
              top: 0;
              left: 10%;
              height: $chart-height;
              width: 10px;
              background-color: $color-gray;
              border: 1px solid $color-dark-gray;
            }
          }
        }
      }
    }

    .description-container,
    .details-container {
      padding-right: 1em;
    }
  }


  // Custom breakpoints
  @media screen and (max-width: 768px) {
  }
}
