/**
 * Main styles for: minnpost-hot-house-districts-2014
 */

// Variables
$space: 1em;


// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Wrap everything for specificity
.mp .minnpost-hot-house-districts-2014-container {

  .application-container {
    padding-top: 1em;
  }

  .districts-nav {
    z-index: 10000;
    margin-bottom: 3em;
    text-align: center;

    ul li,
    ul li + li {
      padding: 0;
      margin: 0 3px 3px 0;

      a {
        color: #282828;

        &.active {
        }
      }
    }
  }

  .districts {
    z-index: 0;

    .district {
      margin-bottom: 2em;

      .pvi-block {
        color: #282828;
      }

      .district-map {
        min-height: 17.5em;
      }

      .details {
        text-align: center;

        .candidates {
          margin-bottom: 2em;
        }

        .chart-container {
          margin-bottom: 2em;

          .chart {
            position: relative;
            width: 100%;
            height: 1em;
            background-color: #BDBDBD;

            .mid-tick {
              position: absolute;
              top: 0;
              left: 50%;
              height: 1em;
              width: 1px;
              background-color: #777777;
            }

            .tick {
              position: absolute;
              top: 0;
              left: 10%;
              height: 1em;
              width: 10px;
              background-color: #777777;
            }
          }
        }
      }
    }
  }


  // Custom breakpoints
  @media screen and (max-width: 768px) {
  }
}
