/**
 * Main styles for: minnpost-hot-house-districts-2014
 */

// Variables
$space: 1em;


// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Wrap everything for specificity
.mp .minnpost-hot-house-districts-2014-container {

  .application-container {
    padding-top: 1em;
  }

  .districts-nav {
    margin-bottom: 2em;
    text-align: center;

    ul li,
    ul li + li {
      padding: 0;
      margin: 0 3px 3px 0;

      a {
        color: #FFFFFF;

        &.active {
        }
      }
    }
  }


  // Custom breakpoints
  @media screen and (max-width: 768px) {
  }
}
